html {
	text-align: center;
}
body{
	text-align: center;
	display: flex;
	flex-direction: column;
}
#ciao {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	width: 50%;
background-color: rgb(70, 115, 237);
text-align: center;
flex-direction: column;
border-radius: 20px;}
.log {
	max-width: 30px;
}
.qr {
	max-width: 100px;
}
#mx{
	margin-top: 5px;
	min-height: 3pt;

}
.linia{
	margin-bottom: 5px;
}